{% extends 'main.html' %}
{% load static %}
{% block nav %}{% endblock %}
{% block carrossel%}{% endblock %}
{% block titulo %}Cadastrar{% endblock %}
{% block conteudo %}
{% block biblioteca %}
{% endblock %}
<body style="overflow: hidden;"> 
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <div class="row" style="margin:auto; margin-top: 15%; width: 500px; height: 300px; background-color: rgba(117, 63, 168, 0); border-radius: 50px; box-shadow: 10px 10px 10px 10px #411a2b">
        <div class="col-12" style="margin-top: 5%;">
            <form method="post" style="width: 470px; height: 250px; ">
                {% csrf_token %}
                <div class="col-6 input-group" style="margin: auto;">
                        <span class="input-group-text" id="basic-addon1">Usuário</span>
                        <input type="text" name="user" id="user" class="form-control" required>
                </div>
                <br>
                <div class="col-6 input-group" style="margin: auto;">
                    <span class="input-group-text" id="basic-addon2">Email</span>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <br>
                <div class="col-6 input-group" style="margin: auto;">
                    <span class="input-group-text" id="basic-addon3">Senha</span>
                    <input type="password" name="pass" id="pass" class="form-control" required>
                </div>
                <button type="submit" class="btn" style="width: 400px; margin: auto; margin-top: 10%; margin-left: 9%; background-color: rgb(61, 19, 19);">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
{% block footer %}
{% endblock %}

    

