@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

.conteiner{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.footer{
    background-color: rgb(185, 185, 198);
    
}

.footer1{
    background-color: rgb(185, 185, 198);
    
}

.footer p{
    text-align: center;
    margin-bottom: 0px;
}

.telefone{
    width: 325px ;
}


.telefone #telefone{
    background-color: blue ;
    width: 170px;
    height: 35px;
    margin-left: 80px;
    border-radius: 7px;
    margin-bottom: 0px;
}

.telefone #telefone h6{
    padding-top: 7px; 
}

.img-telefone{
    width: 30px;
    height: 30px;
}

#imagens{
    float: left;
    background-color: transparent;
    width: 500px;
    height: 300px;
    margin: 30px;

}

.obra{
    margin-top: 100px;
    margin-bottom: 50px;
    border: 0.5px solid;
    border-color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 19%;

}

#textoObra{
    margin: 10px;
    width: 600px;
}

#textoObra #texto{
    margin: 10px;
    width: 570px;
    height: 320px;
    resize: none;
    border: none;
}

.resumo{
    
}


* {
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 900px;
}

body {
    background-color: #512438;
}

.conteiner{
    height: 120px;
    padding-top: 0px !important;
}

.conteudo{
    width: 70%;
    margin-left: 16%;
}

.conteudo p{
    color: white; 
    text-align-last: center;
}

.subtitulo{
    margin-bottom: 40px;
    margin-top: 40px;
    text-align-last: center;
}

/* estilização da nav bar */
/* .nav-item {
    border-bottom: 2px solid #ffffff00;
}


.nav-item:hover {
    border-bottom: 2px solid #f32424;
} */

/* fim da estilização da nav bar */





/* estilização do carrossel  */

.centralizar {
    width: 100%;
    height: 89%;
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 8px;
}

.carrossel {
    width: 60%;
    height: 85%;
    display: flex;
    max-width: 1000px;
    max-height: 900px;
    overflow: hidden;
    position: relative;
}


.carrossel-item {
    visibility: visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
    transition: 0.6s all linear;
}


.carrossel-item_info {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;

    order: 1;
    left: 0;
    margin: auto;
    padding: 0 40px;
    width: 40%;
}

.carrossel-item_image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;

    -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform: translateX(100%);
    transition: 0.6s all ease-in-out;
}

.carrossel-item_titulo {
    margin: 15px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 2vw !important;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #f32424;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carrossel-item_description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: #343434;
    line-height: 30px;
    margin-bottom: 35px;
}


.carrossel-item_btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
    text-decoration: none;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carrossel_nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #ffffff00;
    bottom: 0;
}

.carrossel_icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    color: #ffffff;
}

.carrossel_arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 20px;
    position: relative;
    background: #ffffff00;

}

.carrossel_arrow:nth-child(1):after {
    content: '';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #ffffff;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}


.active {
    z-index: 1;
    display: flex;
    visibility: visible;
}


.active .carrossel-item_titulo,
.active .carrossel-item_description,
.active .carrossel-item_btn {
    transform: translateY(0);
    opacity: 1;
    transition: 0.6s all ease-in-out;
    visibility: visible;
}

.active .carrossel-item_image {
    transition: 0.6s all ease-in-out;
    transform: translateX(0);
}

.carrossel_arrow {
    background: #ffffff00;
}

/* fim da estilização do carrossel  */




/* inicio da estilização da sessão sobre  */

#sobre {
    color: #fff;
}

#sobre h1 {
    color: #f32424;
    font-size: 35px;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
}

.sobre-image img {
    width: 100%;
    height: 100%;
    max-width: 450px;
}

#sobre p {
    letter-spacing: 1px;
}


.conteiner {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
}

.conteiner .card {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    transition: 1s;
    background-image: url('https://images.a12.com/source/files/c/247460/radio-aparecida-nossa-missao-793758_600-315-0-0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}


.conteiner .card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face1 {
    box-sizing: border-box;
    padding: 20px;
}

.face1 h2 {
    margin: 0;
    padding: 0;
    opacity: 0;
}

.java {
    background-color: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.face2 {
    transition: 0.5s;
}

.face2 h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0px 15px;
    font-size: 2em;
    color: #512438;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.card:hover {
    background: rgba(0, 0, 0, 0.7);
}

.card:hover .face.face1 h2{
    opacity: 1;
}

.card:hover .face.face2 {
    height: 60px;
}

.card:hover .face.face2 h2{
    background: #2C2C2C;
}

/* fim da estilização da sessão sobre  */




/* animação pelo scroll */
[data-anime] {
    opacity: 0;
    transition: 1s;
}


[data-anime="down"] {
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* fim da animaçãp do scroll  */