{% extends 'main.html' %}
{% load static %}
{% block titulo %}Arte Moderna{% endblock %}
{% block subtitulo %}<h1 class="subtitulo">100 anos da Semana da Arte Moderna</h1>{% endblock %}
{% block carrosel-titulo1 %}Abaporu{% endblock %}
{% block carrosel-titulo2 %}<span style="color: rgb(186, 140, 48);">Operários</span>{% endblock %}
{% block carrosel-descricao1 %} "O Abaporu" ou também conhecido, "homem que come gente" foi pintado a óleo em 1928, considerada a obra prima da artista Tarsila do Amaral, sendo feito de presente de aniversario para seu marido{% endblock %}
{% block carrosel-titulo3 %}<span style="color: rgb(121, 14, 0);">Amigos</span>{% endblock %}
{% block carrosel-titulo4 %}<span style="color: rgb(255, 64, 0);">O Homem amarelo</span>{% endblock %}
{% block img1 %} {% static 'media/artemoderna/tarsilao.jpg' %} {% endblock %}
{% block img2 %} {% static 'media/artemoderna/operarios.jpg' %} {% endblock %}
{% block img3 %} {% static 'media/artemoderna/amigos.jpg' %} {% endblock %}
{% block img4 %} {% static 'media/artemoderna/o_homem_amarelo.jpeg' %} {% endblock %}
{% block bibliotecas %}
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
{% endblock %}
  {% block conteudo %}
  <div style="margin-left: 40%;">
    <h2 style="color: rgb(145, 145, 0);">Média de avaliações: 4.0<span class="bi-star"></span></h2>
  </div>

  <section class="resumo">
    <h4>
      A Semana de Arte Moderna, que ocorreu em São Paulo em fevereiro de 1922, foi um evento revolucionário na história cultural do Brasil. Nesse encontro, artistas, escritores e intelectuais brasileiros se reuniram para promover uma ruptura com as tradições artísticas e literárias conservadoras da época. O movimento modernista brasileiro, inaugurado pela Semana de Arte Moderna, buscava introduzir ideias vanguardistas e inovações estilísticas na literatura, nas artes plásticas e na música.
    </h4>
  </section>
  
  <div class="obra">
      <div class="col-6" id="imagens">
        <img src="{% static 'media/artemoderna/tarsilao.jpg' %}" id="imagem">
      </div>
      <div class="col-6" id="textoObra">
        <textarea id="texto" disabled="true">
          Considerada a obra prima da artista Tarsila do Amaral, a clássica pintura do modernismo brasileiro “O Abaporu” foi pintada a óleo em 1928, como um presente de aniversário para seu então marido, o escritor Oswald de Andrade, este que ao receber o presente ficou imediatamente encantado e logo disse que essa era a melhor obra que Tarsila já havia pintado. 
          O nome da obra “Abaporu” tem origem do tupi-guarani e significa “homem que come gente”. O título da tela é resultado da junção dos termos aba (homem) pora (gente) ú (comer).
          A escolha das cores, formas e perspectivas na obra de Tarsila reflete seu desejo de retratar uma visão autêntica do Brasil. Quando Tarsila retornou ao Brasil, vinda de Paris a bordo do luxuoso navio "Massilia," ela trouxe consigo não apenas tintas deslumbrantes e vestidos elegantes, mas também uma profunda aspiração por inovação artística.
          Essa obra de arte faz parte da fase antropofágica de Tarsila, um período considerado um dos mais significativos em sua carreira. Durante esse período, influenciada pelo cubismo, a artista conseguiu criar uma interpretação visual das estruturas da sociedade brasileira. Essa abordagem permitiu que ela revelasse aspectos essenciais de nossa cultura e identidade por meio de sua arte.
        </textarea>
      </div>
    </a>
  </div>

  <div class="obra">
      <div class="col-6" id="imagens">
        <img src="{% static 'media/artemoderna/operarios.jpg' %}" id="imagem">
      </div>
      <div class="col-6" id="textoObra">
        <textarea id="texto" disabled="true">
          Outro clássico quadro da artista Tarsila do Amaral é os operários, pintado no ano de 1933, pintado a óleo e com grande dimensões (120cm x 205cm), carrega como símbolo a exploração do povo trabalhador e a diversidade étnica que compõem nossa sociedade.
          "Os Operários" é uma famosa obra da renomada pintora brasileira Tarsila do Amaral, criada em 1933. A pintura representa um grupo de operários em uma cena de trabalho na cidade. Ela é uma expressão significativa do movimento modernista no Brasil, caracterizado por sua abordagem social e política, estilo modernista, ênfase no nacionalismo e uma tentativa de humanizar os trabalhadores industriais. A obra reflete a busca do movimento modernista por uma representação autêntica e inovadora da realidade brasileira, bem como o desejo de incorporar elementos nacionais na arte. "Os Operários" é uma importante contribuição para a rica tradição artística modernista do Brasil.
        </textarea>
      </div>
    </a>
  </div>

  <div class="obra">
      <div class="col-6" id="imagens">
        <img src="{% static 'media/artemoderna/artesao.png' %}" id="imagem">
      </div>
      <div class="col-6" id="textoObra" >
        <textarea id="texto" disabled="true" >
          "O Artesão" é uma obra do artista brasileiro Vicente do Rego Monteiro. Esta pintura é uma das obras mais conhecidas desse artista e é um exemplo notável de sua contribuição à arte brasileira. A pintura "O Artesão" é uma representação artística de um trabalhador, provavelmente um artesão, que desempenha suas atividades criativas.

          A obra de Vicente do Rego Monteiro é conhecida por sua abordagem modernista, que buscou uma ruptura com as convenções artísticas tradicionais e uma exploração de novas formas de expressão. Em "O Artesão," podemos observar elementos do modernismo, como cores vivas e formas simplificadas, que conferem à obra uma qualidade distintamente moderna.
          
          Além disso, a obra de Rego Monteiro frequentemente incorpora elementos da cultura nordestina brasileira, incluindo influências indígenas e regionais. "O Artesão" pode ser visto como um reflexo da identidade cultural brasileira, destacando a importância do trabalho manual e da criatividade no contexto da cultura nordestina.
          
          A imagem do artesão retratado na pintura evoca a ideia de uma conexão profunda entre o trabalho, a criatividade e a cultura. Essa representação pode ser interpretada como uma homenagem aos trabalhadores e artesãos que desempenham um papel essencial na preservação das tradições culturais e na criação de objetos artesanais únicos.
          
          Em resumo, "O Artesão" de Vicente do Rego Monteiro é uma obra que reflete a fusão entre o modernismo e a cultura nordestina brasileira. Ela celebra a importância do trabalho manual, da criatividade e da identidade cultural em um contexto artístico moderno.
        </textarea>
      </div>
    </a>
  </div>

  <div class="obra">
    <div class="col-6" id="imagens">
      <img src="{% static 'media/artemoderna/o_homem_amarelo.jpeg' %}" id="imagem" >
    </div>
    <div class="col-6" id="textoObra" >
      <textarea id="texto" disabled="true">
"O Homem Amarelo" é uma obra icônica de Anita Malfatti, criada em 1928. Essa pintura é uma expressão marcante do movimento modernista no Brasil e incorpora elementos distintivos do estilo da artista:

A cromaticidade intensa é uma característica proeminente da obra. Tarsila utiliza um amarelo vibrante como cor dominante, o que confere à pintura um aspecto ousado e impressionante. O uso ousado da cor é uma característica do modernismo e pode ser interpretado como uma tentativa de romper com as paletas de cores mais tradicionais.

A estilização das formas humanas é outra característica notável. A figura humana, representada como um "homem amarelo," é simplificada e abstrata, refletindo a influência do cubismo na obra de Tarsila. Essa estilização contribui para a sensação de modernidade e abstração na pintura.

O contexto histórico da obra é importante. "O Homem Amarelo" foi criado durante um período de transformação cultural e social no Brasil e reflete a influência da Revolução de 1924 e do Movimento Tenentista na época. A pintura pode ser vista como uma representação simbólica das mudanças em curso no país.

A identidade nacional é um elemento-chave na obra de Tarsila, e "O Homem Amarelo" não é exceção. Ela procurou incorporar elementos culturais e folclóricos brasileiros em sua arte, o que pode ser observado na representação do "homem amarelo" como uma figura estilizada e enigmática que evoca uma conexão com as raízes culturais do Brasil.

A abstração e a simplicidade da obra podem ser interpretadas como uma forma de expressar uma mensagem universal e atemporal. Embora a pintura seja profundamente enraizada no contexto brasileiro da época, sua abstração permite que ela transmita significados mais amplos que ressoam com o espectador.

Em resumo, "O Homem Amarelo" é uma obra emblemática do modernismo brasileiro e de Tarsila do Amaral. Ela combina elementos estilísticos modernistas, cores vibrantes, abstração e um profundo apreço pela cultura brasileira. A obra pode ser interpretada de várias maneiras, mas é um testemunho do compromisso de Tarsila em capturar a essência do Brasil e seu povo em sua arte.





      </textarea>
    </div>
  </a>
</div>
  
  <div class="avaliacao">
    <div>
      <label for="comment">Comentário:</label><br>
      <textarea id="comment" name="comment" rows="4" style="width: 100%;"></textarea>
    </div>
    <br>
    <div>
      <label for="avaliar" style="margin-left: 38%;">Avaliação:</label>
      <select id="avaliar" name="avaliar">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>
    </div>
    <button class="btnEnviar">Enviar</button>
  </div>

      
  {% endblock%}