{% extends 'main.html' %}
{% block titulo %}Revolução Industrial{% endblock %}
          {% block conteudo %}

          <h3>Revolução Industrial</h3>
          <br><br>

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 600px; margin-left: 300px;">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href="#obra1">
                    <img class="d-block w-100" src="https://avatars.mds.yandex.net/i?id=2a00000179f5b6e1bdb98bfb3d1c20b7ab95-3844047-images-thumbs&n=13" alt="1° slide">
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="#obra2">
                    <img class="d-block w-100" src="https://avatars.mds.yandex.net/i?id=78b08d329a756ee48125288c860a082e839d58d3-10415001-images-thumbs&n=13" alt="2° slide">
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="#obra3">
                    <img class="d-block w-100" src="https://avatars.mds.yandex.net/i?id=2a0000018b0fd6401fbc69c0a23b7d3c0ee0-934138-fast-images&n=13" alt="3° slide">
                  </a>
                </div>
                <div class="carousel-item">
                  <a href="#obra4">
                    <img class="d-block w-100" src="https://avatars.mds.yandex.net/i?id=93a602551a9cf15cf9be6da4308418c1-5859531-images-thumbs&n=13" alt="4° slide">
                  </a>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            
            <br>

            <p>Sed scelerisque bibendum nulla. In sed risus placerat, aliquet eros eu, egestas neque. In convallis metus dictum elementum tincidunt. Duis non nunc et tellus ultrices commodo auctor non est. Mauris vitae dictum nibh. Phasellus in condimentum justo. Sed eleifend, erat non consequat bibendum, ligula ligula vulputate urna, quis pharetra magna turpis in magna. Aliquam rhoncus purus euismod mi placerat, sit amet feugiat lectus fringilla. Cras eros dolor, rhoncus eu mattis et, dictum ac odio. Vivamus consectetur augue ut iaculis pretium. Nullam id suscipit nisi. Integer sagittis vitae tortor vel tempus.
                <br>
              Morbi ac pellentesque lorem, eleifend viverra dui. In molestie mi neque, sed interdum nibh volutpat eget. Morbi tempor, dolor sed dictum placerat, ligula urna posuere libero, non gravida nulla dui egestas est. Donec vulputate nec lacus vitae lobortis. Cras quam dui, fermentum eu sem tempor, tempus accumsan diam. Curabitur ornare purus justo, sed accumsan sem tristique vel. Donec a arcu arcu. Phasellus sed sem sed eros molestie aliquet. Sed et leo sit amet erat finibus volutpat.</p>


        <a name="obra1">
          <div class="col" id="obra">
            <div class="col-6" id="imagens" style="float: left;">
              <img src="https://avatars.mds.yandex.net/i?id=2a00000179f5b6e1bdb98bfb3d1c20b7ab95-3844047-images-thumbs&n=13">
            </div>

            <div class="col-6" id="textoObra" style="float: left;">
              <textarea id="texto" disabled="true">
Suspendisse vestibulum neque arcu, ac pretium orci convallis eget. Mauris aliquet ipsum in ante varius imperdiet. Cras vitae urna in velit euismod posuere. Duis pellentesque ante vel turpis ultricies aliquam. Vestibulum aliquet dignissim tellus, quis dignissim mi molestie ac. Fusce efficitur bibendum enim vitae malesuada. In hac habitasse platea dictumst. Nunc imperdiet scelerisque erat in vulputate. Vivamus feugiat ex id leo rhoncus, eget scelerisque est elementum. Praesent eget sem in purus pharetra condimentum ut non orci.

Integer eu viverra tortor, sit amet dapibus nisl. Vivamus congue ac nisl sit amet vestibulum. Phasellus laoreet vehicula cursus. Sed sagittis est eget interdum rutrum. Etiam ac vehicula nibh. Nulla consequat justo eu erat varius tempor. Nullam enim est, varius sed neque nec, aliquet dictum leo. Sed finibus enim quis elit venenatis dictum. Donec feugiat eget lorem aliquet pulvinar. Donec rhoncus ante quis neque tincidunt lobortis. Nam sit amet gravida est. Donec turpis metus, bibendum et massa sed, lobortis facilisis risus. Praesent placerat fringilla erat et mattis. Vivamus et tincidunt nibh.

Nullam pretium vel lorem at ultrices. Vivamus mi sem, tristique sed elit non, hendrerit semper tellus. Donec et nibh sit amet turpis lobortis congue. Donec quis sapien mollis, fringilla nisl eget, gravida massa. Aliquam ut ultricies neque, eu tristique ex. Praesent facilisis congue nunc, quis ultrices nulla pulvinar vel. Mauris gravida odio vitae mauris dapibus molestie. Nam non leo fringilla, feugiat lacus sit amet, convallis dui. Suspendisse blandit mauris in mauris ullamcorper, ac venenatis eros lacinia.

Praesent volutpat euismod augue, sodales mollis felis. Nulla aliquam purus id nisl molestie, vel eleifend libero porta. Integer gravida leo eu convallis congue. Curabitur neque ex, mollis vel porttitor condimentum, mollis non lacus. Donec est mi, rhoncus vel porttitor dapibus, gravida id ex. Vestibulum vitae tempor eros, eget tempor velit. Phasellus venenatis ex ac eros iaculis viverra. Quisque venenatis consectetur quam ut mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Duis non eros non purus faucibus finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus purus dolor, pharetra ac tellus nec, accumsan blandit sem. Mauris luctus sed magna at malesuada. Vivamus ut sem sed massa pulvinar ultricies. Morbi vulputate eu massa non aliquet. Vivamus scelerisque condimentum tortor sed vestibulum. Sed pretium lectus ut commodo finibus. Nunc viverra dictum nulla, et ornare enim dapibus sed.
              </textarea>
            </div>
          </div>
        </a>


        <a name="obra2">
          <div class="col" id="obra">
            <div class="col-6" id="imagens" style="float: left;">
              
              <img src="https://avatars.mds.yandex.net/i?id=78b08d329a756ee48125288c860a082e839d58d3-10415001-images-thumbs&n=13">
            </div>

            <div class="col-6" id="textoObra" style="float: left;">
              <textarea id="texto" disabled="true">
Suspendisse vestibulum neque arcu, ac pretium orci convallis eget. Mauris aliquet ipsum in ante varius imperdiet. Cras vitae urna in velit euismod posuere. Duis pellentesque ante vel turpis ultricies aliquam. Vestibulum aliquet dignissim tellus, quis dignissim mi molestie ac. Fusce efficitur bibendum enim vitae malesuada. In hac habitasse platea dictumst. Nunc imperdiet scelerisque erat in vulputate. Vivamus feugiat ex id leo rhoncus, eget scelerisque est elementum. Praesent eget sem in purus pharetra condimentum ut non orci.

Integer eu viverra tortor, sit amet dapibus nisl. Vivamus congue ac nisl sit amet vestibulum. Phasellus laoreet vehicula cursus. Sed sagittis est eget interdum rutrum. Etiam ac vehicula nibh. Nulla consequat justo eu erat varius tempor. Nullam enim est, varius sed neque nec, aliquet dictum leo. Sed finibus enim quis elit venenatis dictum. Donec feugiat eget lorem aliquet pulvinar. Donec rhoncus ante quis neque tincidunt lobortis. Nam sit amet gravida est. Donec turpis metus, bibendum et massa sed, lobortis facilisis risus. Praesent placerat fringilla erat et mattis. Vivamus et tincidunt nibh.

Nullam pretium vel lorem at ultrices. Vivamus mi sem, tristique sed elit non, hendrerit semper tellus. Donec et nibh sit amet turpis lobortis congue. Donec quis sapien mollis, fringilla nisl eget, gravida massa. Aliquam ut ultricies neque, eu tristique ex. Praesent facilisis congue nunc, quis ultrices nulla pulvinar vel. Mauris gravida odio vitae mauris dapibus molestie. Nam non leo fringilla, feugiat lacus sit amet, convallis dui. Suspendisse blandit mauris in mauris ullamcorper, ac venenatis eros lacinia.

Praesent volutpat euismod augue, sodales mollis felis. Nulla aliquam purus id nisl molestie, vel eleifend libero porta. Integer gravida leo eu convallis congue. Curabitur neque ex, mollis vel porttitor condimentum, mollis non lacus. Donec est mi, rhoncus vel porttitor dapibus, gravida id ex. Vestibulum vitae tempor eros, eget tempor velit. Phasellus venenatis ex ac eros iaculis viverra. Quisque venenatis consectetur quam ut mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Duis non eros non purus faucibus finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus purus dolor, pharetra ac tellus nec, accumsan blandit sem. Mauris luctus sed magna at malesuada. Vivamus ut sem sed massa pulvinar ultricies. Morbi vulputate eu massa non aliquet. Vivamus scelerisque condimentum tortor sed vestibulum. Sed pretium lectus ut commodo finibus. Nunc viverra dictum nulla, et ornare enim dapibus sed.
              </textarea>
            </div>
          </div>
        </a>


        <a name="obra3">
          <div class="col" id="obra">
            <div class="col-6" id="imagens" style="float: left;">
              <img src="https://avatars.mds.yandex.net/i?id=2a0000018b0fd6401fbc69c0a23b7d3c0ee0-934138-fast-images&n=13">
            </div>

            <div class="col-6" id="textoObra" style="float: left;">
              <textarea id="texto" disabled="true">
Suspendisse vestibulum neque arcu, ac pretium orci convallis eget. Mauris aliquet ipsum in ante varius imperdiet. Cras vitae urna in velit euismod posuere. Duis pellentesque ante vel turpis ultricies aliquam. Vestibulum aliquet dignissim tellus, quis dignissim mi molestie ac. Fusce efficitur bibendum enim vitae malesuada. In hac habitasse platea dictumst. Nunc imperdiet scelerisque erat in vulputate. Vivamus feugiat ex id leo rhoncus, eget scelerisque est elementum. Praesent eget sem in purus pharetra condimentum ut non orci.

Integer eu viverra tortor, sit amet dapibus nisl. Vivamus congue ac nisl sit amet vestibulum. Phasellus laoreet vehicula cursus. Sed sagittis est eget interdum rutrum. Etiam ac vehicula nibh. Nulla consequat justo eu erat varius tempor. Nullam enim est, varius sed neque nec, aliquet dictum leo. Sed finibus enim quis elit venenatis dictum. Donec feugiat eget lorem aliquet pulvinar. Donec rhoncus ante quis neque tincidunt lobortis. Nam sit amet gravida est. Donec turpis metus, bibendum et massa sed, lobortis facilisis risus. Praesent placerat fringilla erat et mattis. Vivamus et tincidunt nibh.

Nullam pretium vel lorem at ultrices. Vivamus mi sem, tristique sed elit non, hendrerit semper tellus. Donec et nibh sit amet turpis lobortis congue. Donec quis sapien mollis, fringilla nisl eget, gravida massa. Aliquam ut ultricies neque, eu tristique ex. Praesent facilisis congue nunc, quis ultrices nulla pulvinar vel. Mauris gravida odio vitae mauris dapibus molestie. Nam non leo fringilla, feugiat lacus sit amet, convallis dui. Suspendisse blandit mauris in mauris ullamcorper, ac venenatis eros lacinia.

Praesent volutpat euismod augue, sodales mollis felis. Nulla aliquam purus id nisl molestie, vel eleifend libero porta. Integer gravida leo eu convallis congue. Curabitur neque ex, mollis vel porttitor condimentum, mollis non lacus. Donec est mi, rhoncus vel porttitor dapibus, gravida id ex. Vestibulum vitae tempor eros, eget tempor velit. Phasellus venenatis ex ac eros iaculis viverra. Quisque venenatis consectetur quam ut mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Duis non eros non purus faucibus finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus purus dolor, pharetra ac tellus nec, accumsan blandit sem. Mauris luctus sed magna at malesuada. Vivamus ut sem sed massa pulvinar ultricies. Morbi vulputate eu massa non aliquet. Vivamus scelerisque condimentum tortor sed vestibulum. Sed pretium lectus ut commodo finibus. Nunc viverra dictum nulla, et ornare enim dapibus sed.
              </textarea>
            </div>
          </div>
        </a>


        <a name="obra4">
          <div class="col" id="obra">
            <div class="col-6" id="imagens" style="float: left;">
              <img src="https://avatars.mds.yandex.net/i?id=93a602551a9cf15cf9be6da4308418c1-5859531-images-thumbs&n=13">
            </div>

            <div class="col-6" id="textoObra" style="float: left;">
              <textarea id="texto" disabled="true">
Suspendisse vestibulum neque arcu, ac pretium orci convallis eget. Mauris aliquet ipsum in ante varius imperdiet. Cras vitae urna in velit euismod posuere. Duis pellentesque ante vel turpis ultricies aliquam. Vestibulum aliquet dignissim tellus, quis dignissim mi molestie ac. Fusce efficitur bibendum enim vitae malesuada. In hac habitasse platea dictumst. Nunc imperdiet scelerisque erat in vulputate. Vivamus feugiat ex id leo rhoncus, eget scelerisque est elementum. Praesent eget sem in purus pharetra condimentum ut non orci.

Integer eu viverra tortor, sit amet dapibus nisl. Vivamus congue ac nisl sit amet vestibulum. Phasellus laoreet vehicula cursus. Sed sagittis est eget interdum rutrum. Etiam ac vehicula nibh. Nulla consequat justo eu erat varius tempor. Nullam enim est, varius sed neque nec, aliquet dictum leo. Sed finibus enim quis elit venenatis dictum. Donec feugiat eget lorem aliquet pulvinar. Donec rhoncus ante quis neque tincidunt lobortis. Nam sit amet gravida est. Donec turpis metus, bibendum et massa sed, lobortis facilisis risus. Praesent placerat fringilla erat et mattis. Vivamus et tincidunt nibh.

Nullam pretium vel lorem at ultrices. Vivamus mi sem, tristique sed elit non, hendrerit semper tellus. Donec et nibh sit amet turpis lobortis congue. Donec quis sapien mollis, fringilla nisl eget, gravida massa. Aliquam ut ultricies neque, eu tristique ex. Praesent facilisis congue nunc, quis ultrices nulla pulvinar vel. Mauris gravida odio vitae mauris dapibus molestie. Nam non leo fringilla, feugiat lacus sit amet, convallis dui. Suspendisse blandit mauris in mauris ullamcorper, ac venenatis eros lacinia.

Praesent volutpat euismod augue, sodales mollis felis. Nulla aliquam purus id nisl molestie, vel eleifend libero porta. Integer gravida leo eu convallis congue. Curabitur neque ex, mollis vel porttitor condimentum, mollis non lacus. Donec est mi, rhoncus vel porttitor dapibus, gravida id ex. Vestibulum vitae tempor eros, eget tempor velit. Phasellus venenatis ex ac eros iaculis viverra. Quisque venenatis consectetur quam ut mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Duis non eros non purus faucibus finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus purus dolor, pharetra ac tellus nec, accumsan blandit sem. Mauris luctus sed magna at malesuada. Vivamus ut sem sed massa pulvinar ultricies. Morbi vulputate eu massa non aliquet. Vivamus scelerisque condimentum tortor sed vestibulum. Sed pretium lectus ut commodo finibus. Nunc viverra dictum nulla, et ornare enim dapibus sed.
              </textarea>
            </div>
          </div>
        </a>  
          
          {% endblock%}